.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98vw;
}
.cards {
  border: 1px solid rgba(0, 28, 41, 0.37);
  border-radius: 5px;
  height: 400px;
  margin: 8px 5px;
  width: 430px;
}

.card_img_container {
  border: none;
  height: 60%;
  margin-bottom: 13px;
  width: 100%;
  overflow: hidden;
}

.card_img {
  border-radius: 5px 5px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
