.cards_container {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 98vw;
}
.cards {
  border: 3px solid rgba(11, 7, 29, 0.158);
  border-radius: 4px;
  height: 400px;
  margin: 8px 5px;
  width: 430px;
}

.card_img_container {
  border: none;
  height: 60%;
  margin-bottom: 13px;
  width: 100%;
  overflow: hidden;
}

.card_img {
  border-radius: 2px 2px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
